@media only screen and (min-width: 38rem) {

    #myButton {
        display: none;
    }

    ul.menuLinks, ul.menuLinks.open {
        display: flex;
        justify-content: flex-end;
    }

    ul.menuLinks a:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }

    .menuLinks li a {
        font-weight: 600;
    }

    nav {
        grid-template-rows: 1fr;
    }

    /*  ----------------- search ------------------  */
    main {
        background-color: orange;
        margin: 0 auto;
    }
    .search {
        display: flex;
        max-width: 1000px;
        margin: 0 auto;
        background-color: white;
        padding-top: 50px;
        align-items: center;
    }


    .suggestions {
        list-style: none;
        margin: 0;
        padding: 0;
        background: white;
        border: 1px solid white;
        max-height: 150px;
        overflow-y: auto;
        position: absolute;
        width: 250px;
        z-index: 1000;
        }

    .suggestions li:hover {
        background-color: white;
    }
    .search form {
        display: flex;
        flex-wrap: wrap;
        max-width: 1000px;
        margin: auto;
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .search #oneWayLabel {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 10px;
        align-items: center;
    }

    .search button {
        height: 60px;
        width: 220px;
        padding: 0 10px;
        box-sizing: border-box;
        background-color: cornflowerblue;
        border-radius: 10px;
        border: 0;
     }
     
     .search button:hover {
        height: 60px;
        padding: 0 10px;
        box-sizing: border-box;
        background-color: rgb(34, 50, 80);
        border-radius: 10px;
        color: white;
    }

    .search label {
        display: flex;
        flex-direction: column;
    }
    .search input {
        height: 60px;
        padding: 0 10px;
        box-sizing: border-box;
    }
    
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    footer section {
        text-align: left;
    }

    /* ------ FEATUREs ----------- */


    .features {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-evenly;
        background-color: #c8e9fc;
        padding: 20px 100px;
        gap: 20px;
    }
    
    


}

