@media only screen and (min-width: 800px  ) {


    #myButton {
        display: none;
    }

    ul.menuLinks, ul.menuLinks.open {
        display: flex;
        justify-content: flex-end;
        padding-right: 50px;
    }

    ul.menuLinks a:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }

    .menuLinks li a {
        font-weight: 600;
    }

    nav {
        grid-template-rows: 1fr;
    }

    .brand {
        display: flex;
        padding-left: 70px;
    }

    /*  ----------------- search ------------------  */
    main {
        display: flex;
        flex-direction: column;
        background-color: orange;
        margin: 0 auto;
    }
    .search {
        display: flex;
        max-width: 1000px;
        margin: 0 auto;
        background-color: white;
        padding-top: 50px;
        align-items: center;
    }


    .suggestions {
        list-style: none;
        margin: 0;
        padding: 0;
        background: white;
        border: 1px solid white;
        max-height: 150px;
        overflow-y: auto;
        position: absolute;
        width: 250px;
        z-index: 1000;
        }

    .suggestions li:hover {
        background-color: white;
    }
    .search form {
        display: flex;
        flex-wrap: wrap;
        max-width: 1000px;
        margin: auto;
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .search #oneWayLabel {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 10px;
        align-items: center;
    }

    .search button {
        height: 60px;
        width: 220px;
        padding: 0 10px;
        box-sizing: border-box;
        background-color: cornflowerblue;
        border-radius: 10px;
        border: 0;
    }
     
    .search button:hover {
        background-color: rgb(34, 50, 80);
        color: white;
    }

    .search label {
        display: flex;
        flex-direction: column;
    }
    .search input {
        height: 60px;
        padding: 0 10px;
        box-sizing: border-box;
    }
    
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    footer section {
        text-align: left;
    }

    /* ------ FEATUREs ----------- */


    .features {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        padding-left: 50px;
        padding-right: 50px;
        background-color: #c8e9fc;
        margin: 0 auto;
    }

    
    section.feature1 {
        display: flex;
        flex-direction: column;
    }

    section.feature2 {
        display: flex;
        flex-direction: column;
    }

    section.feature3 {
        display: flex;
        flex-direction: column;
    }

    section.feature1 h2 {
        padding: 10px;
    }

    section.feature2 h2 {
        padding: 10px;
    }

    section.feature3 h2 {
        padding: 10px;
    }

    /* ------ SEARCH RESULTS ----------- */

    #results {
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        gap: 30px;
    }

    .flight-card {
        padding: 20px;
        height: 300px;
        width: 300px;
    }

    .flight-card p {
        font-size: 20px;
    }

    .flight-card h4 {
        font-size: 25px;
        padding-bottom: 10px;

    }


    .whatsapp-button {
        background-color: green;
        border-radius: 5px;
        color: rgb(28, 27, 27);
        font-weight: 600;
        font-size: 20px;
        height: 55px;
        margin-top: 30px;
        cursor: pointer;
    }
}
