@media only screen and (min-width: 800px  ) {


    #myButton {
        display: none;
    }

    ul.menuLinks, ul.menuLinks.open {
        display: flex;
        justify-content: flex-end;
        padding-right: 50px;
    }

    ul.menuLinks a:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }

    .menuLinks li a {
        font-weight: 600;
    }

    nav {
        grid-template-rows: 1fr;
    }

    .brand {
        display: flex;
        padding-left: 70px;
    }

    .company-name {
        font-size: 2.5rem;
        font-weight: 300;
        color: white;
        margin-left: 10px;
    }



    /*  ----------------- search ------------------  */
    main {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;

    }

    main h1 {
        font-size: 45px;
        font-weight: 500;
    }

    main p {
        font-size: 25px;
        padding-bottom: 20px;
    }

    .search {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        background-color: white;
        padding-top: 50px;
    }


    .suggestions {
        list-style: none;
        margin: 0;
        padding: 0;
        background: white;
        border: 1px solid white;
        max-height: 150px;
        overflow-y: auto;
        position: absolute;
        width: 250px;
        z-index: 1000;
        }

    .suggestions li:hover {
        background-color: white;
    }

    .search form {
        display: flex;
        flex-wrap: wrap;
        justify-content:space-evenly;
        padding-top: 50px;
        padding-bottom: 50px;
    }


    .search button {
        height: 60px;
        min-width: 400px;
        max-width: 500;
        padding: 0 10px;
        box-sizing: border-box;
        background-color: cornflowerblue;
        border-radius: 10px;
        border: 0;
    }
     
    .search button:hover {
        background-color: rgb(34, 50, 80);
        color: white;
    }

    .search label {
        display: flex;
        flex-direction: column;
        font-size: 15px;
    }

    .search input {
        height: 80px;
        padding: 0 10px;
    }


    #flightForm {
        align-items: center;
        justify-content: space-evenly;
        max-width: 80%;
    }


    
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    footer section {
        text-align: left;
    }

    /* ------ FEATUREs ----------- */


    .features {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 30px;
        padding-left: 30px;
        padding-right: 30px;
        background-color: #c8e9fc;
        margin: 0 auto;
        max-width: 100%;
        justify-content: center;
        padding-bottom: 50px;
        margin-bottom: 50px;
    }

    section.feature {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding-top: 10px;
        flex-wrap: wrap;
    }

    .features h2 {
        font-size: 22px;
    }

    .features p {
        font-size: 15px;
    }




    /* ------ SEARCH RESULTS ----------- */

    #results {
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        gap: 30px;
    }

    .flight-card {
        padding: 20px;
        height: 300px;
        width: 300px;
    }

    .flight-card p {
        font-size: 20px;
    }

    .flight-card h4 {
        font-size: 25px;
        padding-bottom: 10px;

    }

    .contact-page {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    }

    .whatsapp-button {
        background-color: green;
        border-radius: 5px;
        color: rgb(28, 27, 27);
        font-weight: 600;
        font-size: 20px;
        height: 55px;
        margin-top: 30px;
        cursor: pointer;
    }

    .contact-page {
        padding-left: 60px;
        padding-right: 60px;
    }

    .member-form input {
        height: 60px;
        border-radius: 5px;
        border-color: white;
        min-width: 400px;
    }

    .member-form textarea {
        min-width: 400px;
    }

    .contact-banner {
        padding: 100px, 50px;
    }

    .about-business {
        display: flex;
        flex-direction: row;
        padding-left:5rem;
        padding-right: 5rem;
        padding-top: 150px;
    }

    .about-text {
        padding-left: 5rem;
        padding-right: 5rem;
        
    }

    .about-agents {
        display: flex;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 100px;
        margin-bottom: 100px;
        justify-content: center;
        align-items: center;
        padding:5rem;
        background-color: rgb(252, 231, 203);
        gap: 5px    ;
    }

    .team-member {
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        text-align: center;
    }
}
