* {

    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}


header {
  background-color: rgb(25, 42, 50);
  display: grid;
  align-items: center;
  justify-content:center;
  padding: 10px;
}

.brand {
  display: grid;
   grid-template-columns: 44px auto 44px;
  align-items: center;  
  padding: 30px;
  gap:20px;
}

.logo {
  height: 50px;
  margin-right: 10px;
  padding: 10px;
}

.company-name {
  font-size: 1.5rem;
  font-weight: 300;
  color: white;
  margin-left: 10px;
}

/*  ----------------- NAV ------------------  */


#myButton::before {
    content: "\2630";
    font-size: medium;
}

#myButton {
    font-size: 30px;
    background: none;
    border: none;
    color:rgb(255, 255, 255);
    cursor: pointer;
    width: 100%;
    text-align: center;
    
}

.menuLinks li a {
    display: block;
    padding: .75rem 2vw;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 300;
}

li.current-menu-item a{
    background-color: rgba(0,0,0,0.2);
}

ul.menuLinks {
    /* display: none; */
    list-style-type: none;
}

#myButton.open::before {
    content: "close";
}

ul.menuLinks.open {
    /* display: block; */
}

nav {
    display: grid;
    grid-template-rows: 0fr;
    background-color: rgb(0, 58, 85);
    transition: grid-template-rows 0.5s ease-out;
}

nav ul {
    overflow: hidden;
}

nav.open {
    grid-template-rows: 1fr;
}

/*  ----------------- search ------------------  */

.search form {
    display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 20px;
}
.search label {
  display: flex;
  flex-direction: column;
}
.search input {
  height: 50px;
  padding: 10px;
  box-sizing: border-box;
  font-size: large;
}

.search #oneWayLabel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    gap: 10px;
}

.search button {
  height: 60px;
  padding: 0 10px;
  box-sizing: border-box;
  background-color: cornflowerblue;
  border-radius: 10px;
  border: 0;
  font-size: large;
}


.search button:hover {
  background-color: rgb(34, 50, 80);
  color: white;
}

/* ------ SEARCH RESULTS ----------- */

#results {
  margin-top: 30px;
  padding: 20px;
}

.flight-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #c8e9fc;
}

.flight-card h4 {
  color:  rgb(25, 42, 50);;
  font-weight: 600;
  margin-bottom: 5px;
}

.whatsapp-button {
  background-color: green;
  padding: 15px;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  height: 55px;
  font-size: large;
  margin-top: 5px;
}

/* ------ searching realtime IAIA ----------- */

.suggestions {
  list-style: none;
  margin: 0;
  padding: 0;
  background: #fff;
  border: 1px solid #ffffff;
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  width: 250px;
  z-index: 1000;
}

.suggestions li {
  padding: 8px;
  cursor: pointer;
}

.suggestions li:hover {
  background-color: #f0f0f0;
}

/* ------ FEATURES ----------- */
.features {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 50px;
  justify-content: center;
}

section.feature1 {
  justify-content: center;
  text-align: center;
}

section.feature1 h2 {
  color: rgb(24, 24, 48);
  font-weight: 600;
}

section.feature1 p {
  color: rgb(31, 31, 31);
}

section.feature1 img {
  border-radius: 10px;
  min-height: 100px;
  min-width: auto;
}

section.feature2 {
  justify-content: center;
  text-align: center;
}

section.feature2 h2 {
  color: rgb(24, 24, 48);
  font-weight: 600;
}

section.feature2 p {
  color: rgb(31, 31, 31);
}

section.feature2 img {
  border-radius: 10px;
}

section.feature3 {
  justify-content: center;
  text-align: center;
}

section.feature3 h2 {
  color: rgb(24, 24, 48);
  font-weight: 600;
}

section.feature3 p {
  color: rgb(31, 31, 31);
}

section.feature3 img {
  border-radius: 10px;
  min-width: 0;
}

/* ------ FOOTER ----------- */

footer {
  background-color: rgb(25, 42, 50);
  display: grid;
  padding: 50px;
  color: white;
  gap: 10px;
}

footer section {
  text-align: center;
  gap: 5px;
}


/* ------ FEATUREs ----------- */

.features {
  background-color: #c8e9fc;
}
