:root {
    --primary-darkblue: rgb(8, 79, 97);
    --secondary-blue: rgb(71, 135, 161);
    --third-light-green: rgb(43, 225, 155);
    --alternate-orange: rgb(151, 49, 29);
    --text-color: rgb(50, 50, 50);
    --light-gray: rgb(250, 250, 250);
    --font-size: 16px;
     font-family: 'open-sans', sans-serif;
     min-width: 320px;
     max-width: 650px;
}

header, footer {
    background-color: var(--primary-darkblue);
    padding: 1em 1em;
}

body {
    background-color: var(--light-gray);
    margin: 0;
}

.my-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: normal;
}

.main-logo {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    align-items: center;
}

#chamber-name {
    font-size: 20px;
    color: var(--light-gray);
    
}

#chamber-description {
    font-size: 10px;
    color: var(--light-gray);
    
}

/* ------------ nav settings -------- */

nav {
    display: grid;
    grid-template-rows: repeat(4, 0fr);
    transition: all 0.5s ease-out;
    padding-top: 15px;
}

nav.show {
    grid-template-rows: repeat(4, 1fr);
}

nav a {
    overflow: hidden;
    color: var(--light-gray);
    text-decoration: none;
    background-color: var(--alternate-orange);
    font-size: 1em;
    padding: 0px;
    transition: padding 0.5s ease-out;
    text-align: center;
}

nav.show a {
    padding: 12px;
}

nav a:hover {
    cursor: pointer;
    background-color: var(--secondary-blue);
    color: var(--primary-darkblue);
    font-weight: 700;
    border: 1px solid var(--light-gray);
}

/* nav a.active {
    font-weight: bold;
    background-color: rgb(36, 35, 35);
    color: var(--light-gray); 
    
}*/




/* ---------- hamburger icon --------*/


#hamb-icon,
#x-icon {
    position: absolute;
    width: 30px;
    height: 30px;
    font-size: 30px;
    cursor: pointer;
    color: var(--light-gray);
}

#hamb-icon {
    top: 10px;
    right: 10px;
    color: var(--light-gray);
}

#x-icon {
    top: 10px;
    right: 10px;
    color:var(--light-gray);
}

.toggle {
    display: none;
}

.toggle.show {
    display: block;
}


/* ------------ hero settings -------- */

.hero {
    background-image: url("../images/sor-banner.webp");
    background-position: center;
    align-items: center;
    text-align: center;
    position: relative;
    height: 300px;
    
}

.hero::after {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(43, 42, 42, 0.795);
  z-index: 1;
}

.hero-content {
  padding-top: 50px;
  display: grid;
  justify-content:center;
  align-items: center;
  position: relative;
  align-content: center;
  z-index: 2;
  color: var(--light-gray);
}

.hero-content h1 {
    font-size: 25px;
   
}

.hero-content p {
    font-size: 9px;
    align-content: center;
    color: white;
    background-color: var(--primary-darkblue);
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


.btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: var(--alternate-orange);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.view-toggle {
    display: flex;
    flex-direction: row;
    margin:0 auto;
    justify-content: center;
}

section {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 0.5em;
    align-items: center;
    align-content: center;
    justify-items: center;
}

section h4 {
    color: var(--primary-darkblue);
}

section p {
    color: var(--text-color);
    font-size: 15px;
}

/* List view */
.cards-container.list-view {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.cards-container.list-view section {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.view-toggle {
    display: flex;
    padding: 1em;

}

#local-info p, h3 {
    text-align: center;
    color: var(--light-gray);
}

#general-info p {
    font-size: 11px;
    text-align: center;
    color: var(--light-gray);
}

#social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: var(--light-gray);

}

#instagram, #facebook {
    width: 50px;
    height: 50px;
}

#logo-orange {
    width: 50px;
}


.main-info {
    display: grid;
    grid-template-columns: auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: var(--light-gray);
    
}

.main-info h2 {
    font-size: 20px;
    font-weight: 800;
    color: var(--light-gray);
    background-color: var(--alternate-orange);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 0;
}

.events {
    background-color: rgb(226, 228, 227);
    min-width: 350px;
    margin-top: 0;
    padding-left: 20px;
}

.events h2 {
    background-color: var(--alternate-orange);
    margin-left: -20px ;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}


.weather {
    line-height: 0.5em;
    background-color: rgb(226, 228, 227);
    min-width: 350px;
    margin-top: 0;
    padding-left: 20px;
}

.weather h2 {
    background-color: var(--alternate-orange);
    margin-left: -20px ;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.events h2 {
    background-color: var(--alternate-orange);
    margin-left: -20px ;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.forecast h2 {
    background-color: var(--alternate-orange);
    margin-left: -20px ;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.forecast {
    line-height: 0.5em;
    background-color: rgb(226, 228, 227);
    min-width: 350px;
    margin-top: 0;
    padding-left: 20px;
}

.featured {
    background-color: rgb(226, 228, 227);
    min-width: 350px;
}

.featured h2 {
    background-color: var(--primary-darkblue);
    color: var(--light-gray);
    text-align: center;
    padding: 20px;
}

#spotlight {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
}

#spotlight section {
    border: 1px solid #c7c3c3f1;
    padding: 15px; 
    min-width: 350px;
    justify-content: center;
    background-color: #f9f9f9;
    
}

#spotlight img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
