:root {
    --primary-darkblue: rgb(8, 79, 97);
    --secondary-blue: rgb(71, 135, 161);
    --third-light-green: rgb(43, 225, 155);
    --alternate-orange: rgb(151, 49, 29);
    --text-color: rgb(50, 50, 50);
    --light-gray: rgb(250, 250, 250);
    --font-size: 16px;
    font-family: 'open-sans', sans-serif;
    min-width: 320px;
    
}

header, footer {
    background-color: var(--primary-darkblue);
    padding: 40px;
}

footer {
    color: var(--light-gray);
}

body {
    background-color: var(--light-gray);
    margin: 0 auto;
    justify-content: center;
    min-width: 350px;
}

main {
    padding: 20px;
    margin: 0 auto;
}

.my-header {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    line-height: normal;
}

.main-logo {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    align-items: center;
}

.main-logo img {
    height: 95px;
    width: 95px;
}
#chamber-name {
    font-size: 20px;
    color: var(--light-gray);
    
}

#chamber-description {
    font-size: 10px;
    color: var(--light-gray);
    
}

/* ------------ nav settings -------- */

nav {
    display: grid;
    grid-template-rows: repeat(4, 0fr);
    transition: all 0.5s ease-out;
    padding-top: 15px;
}

nav.show {
    grid-template-rows: repeat(4, 1fr);
}

nav a {
    overflow: hidden;
    color: var(--light-gray);
    text-decoration: none;
    background-color: var(--alternate-orange);
    font-size: 1em;
    padding: 0px;
    transition: padding 0.5s ease-out;
    text-align: center;
}

nav.show a {
    padding: 12px;
}

nav a:hover {
    cursor: pointer;
    background-color: var(--secondary-blue);
    color: var(--primary-darkblue);
    font-weight: 700;
    border: 1px solid var(--light-gray);
}

/* nav a.active {
    font-weight: bold;
    background-color: rgb(36, 35, 35);
    color: var(--light-gray); 
    
}*/




/* ---------- hamburger icon --------*/


#hamb-icon,
#x-icon {
    position: absolute;
    width: 30px;
    height: 30px;
    font-size: 30px;
    cursor: pointer;
    color: var(--light-gray);
}

#hamb-icon {
    top: 10px;
    right: 10px;
    color: var(--light-gray);
}

#x-icon {
    top: 10px;
    right: 10px;
    color:var(--light-gray);
}

.toggle {
    display: none;
}

.toggle.show {
    display: block;
}


/* ------------ hero settings -------- */

.hero {
    background-image: url("../images/sor-banner.webp");
    background-position: center;
    align-items: center;
    text-align: center;
    position: relative;
    height: 300px;
    
}

.hero::after {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(43, 42, 42, 0.795);
  z-index: 1;
}

.hero-content {
  padding-top: 50px;
  display: grid;
  justify-content:center;
  align-items: center;
  position: relative;
  align-content: center;
  z-index: 2;
  color: var(--light-gray);
}

.hero-content h1 {
    font-size: 25px;
   
}

.hero-content p {
    font-size: 9px;
    align-content: center;
    color: white;
    background-color: var(--primary-darkblue);
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


.btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: var(--alternate-orange);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.view-toggle {
    display: flex;
    flex-direction: row;
    margin:0 auto;
    justify-content: center;
}

section {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 0.5em;
    align-items: center;
    align-content: center;
    justify-items: center;
}

section h4 {
    color: var(--primary-darkblue);
}

section p {
    color: var(--text-color);
    font-size: 15px;
}

/* List view */
.cards-container.list-view {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.cards-container.list-view section {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.view-toggle {
    display: flex;
    padding: 1em;

}

#local-info p, h3 {
    text-align: center;
    color: var(--light-gray);
}

#general-info p {
    font-size: 11px;
    text-align: center;
    color: var(--light-gray);
}

#social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: var(--light-gray);

}

#instagram, #facebook {
    width: 65px;
    height: 65px;
}

#logo-orange {
    width: 90px;
    height: 90px;

}


.main-info {
    display: grid;
    grid-template-columns: auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: var(--light-gray);
    
}

.main-info h2 {
    font-size: 20px;
    font-weight: 800;
    color: var(--light-gray);
    background-color: var(--alternate-orange);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 0;
}

.events {
    background-color: rgb(226, 228, 227);
    min-width: 350px;
    margin-top: 0;
    padding-left: 20px;
}

.events h2 {
    background-color: var(--alternate-orange);
    margin-left: -20px ;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}


.weather {
    line-height: 0.5em;
    background-color: rgb(226, 228, 227);
    min-width: 350px;
    margin-top: 0;
    padding-left: 20px;
}

.weather h2 {
    background-color: var(--alternate-orange);
    margin-left: -20px ;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.events h2 {
    background-color: var(--alternate-orange);
    margin-left: -20px ;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.forecast h2 {
    background-color: var(--alternate-orange);
    margin-left: -20px ;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.forecast {
    line-height: 0.5em;
    background-color: rgb(226, 228, 227);
    min-width: 350px;
    margin-top: 0;
    padding-left: 20px;
}

.featured {
    background-color: rgb(226, 228, 227);
    min-width: 350px;
}

.featured h2 {
    background-color: var(--primary-darkblue);
    color: var(--light-gray);
    text-align: center;
    padding: 20px;
}

#spotlight {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
}

#spotlight section {
    border: 1px solid #c7c3c3f1;
    padding: 15px; 
    min-width: 350px;
    justify-content: center;
    background-color: #f9f9f9;
    
}

#spotlight img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

/* ---------Join page------------  */

.member-form h1 {
    margin: 0 auto;
    color: var(--alternate-orange);
    font-size: 25px;
    text-align: center;
}
.member-form form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 20px;
}

.member-form label {
  display: flex;
  flex-direction: column;
}

.member-form input {
  height: 40px;
  padding: 0 10px;
  box-sizing: border-box;
}

.member-form select {
  height: 40px;
  padding: 0 10px;
  box-sizing: border-box;
}

/* ------------------- join page cards -------------  */

.membership-plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    opacity: 0;
    transition: opacity 1s ease-in;
    margin-top: 50px;
    padding: 20px;
}

.membership-plan.show {
    opacity:1;
}

.membership-plan h3 {
    color: var(--alternate-orange);
}

.membership-plan button {
    color: var(--light-gray);
    background-color: var(--primary-darkblue);
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.non-profit {
    background-color: var(--secondary-blue);
    width:100%;
    justify-items: center;
    border-radius: 10px;
    padding-bottom: 20px;
}

.gold-plan {
    background-color: var(--secondary-blue);
    width:100%;
    justify-items: center;
    border-radius: 10px;
    padding-bottom: 20px;
}

.silver-plan {
    background-color: var(--secondary-blue);
    width:100%;
    justify-items: center;
    border-radius: 10px;
    padding-bottom: 20px;
}

.bronze-plan {
    background-color: var(--secondary-blue);
    width:100%;
    justify-items: center;
    border-radius: 10px;
    padding-bottom: 20px;
}

#np-dialog {
    max-width: 30ch;
}

#bronze-dialog {
    max-width: 30ch;
}

#silver-dialog {
    max-width: 30ch;
}

#gold-dialog {
    max-width: 30ch;
}

dialog {
    border: none;
    border-radius: 8px;
}

dialog::backdrop {
    background-color: rgb(0, 0, 0, 0.75);
}

.join-main {
  display: grid;
  grid-template-rows: 1fr;
}


/* -------------- animation ----------- */

#non-profit {
   animation: pulse infinite 2.5s ;
   transition: background-color 0.5s ease, transform 0.5s ease;
   transition: color 0.5s ease, transform 0.5s ease;
   background-color: var(--secondary-blue);
   position: relative;
}

#non-profit::after {
    position:absolute;
}

#non-profit:hover {
    animation: pulse none;
    background-color: var(--primary-darkblue);
    color: var(--light-gray);
}

/* -- ----------- */

#gold-plan {
   animation: pulse infinite 2.5s ;
   transition: background-color 0.5s ease, transform 0.5s ease;
   transition: color 0.5s ease, transform 0.5s ease;
   background-color: var(--secondary-blue);
   position: relative;
}

#gold-plan::after {
    position:absolute;
}

#gold-plan:hover {
    animation: pulse none;
    background-color: var(--primary-darkblue);
    color: var(--light-gray);
}

/* -- ----------- */

#silver-plan {
   animation: pulse infinite 2.5s ;
   transition: background-color 0.5s ease, transform 0.5s ease;
   transition: color 0.5s ease, transform 0.5s ease;
   background-color: var(--secondary-blue);
   position: relative;
}

#silver-plan::after {
    position:absolute;
}

#silver-plan:hover {
    animation: pulse none;
    background-color: var(--primary-darkblue);
    color: var(--light-gray);
}

/* -- ----------- */

#bronze-plan {
   animation: pulse infinite 2.5s ;
   transition: background-color 0.5s ease, transform 0.5s ease;
   transition: color 0.5s ease, transform 0.5s ease;
   background-color: var(--secondary-blue);
   position: relative;
}

#bronze-plan::after {
    position:absolute;
}

#bronze-plan:hover {
    animation: pulse none;
    background-color: var(--primary-darkblue);
    color: var(--light-gray);
}


@keyframes pulse {
    0%, 100% {transform: scale(1);}
    50% {transform: scale(1.05);}
}


.thankyou {
    padding-top: 20px;
    display: grid;
    justify-content: center;
}

.thankyou h1 {
    color: var(--primary-darkblue);
}


/* ------------ DISCOVER ----------- */

#places section{
    margin: 1rem 8px;
    padding: 2rem;
    border: 1px solid #999;
    border-radius: 8px;
    overflow: hidden;
    line-height: normal;
    background-color: #cae5ff77;
    display: grid;
    grid-template-areas: 
        "title"
        "photo"
        "desc"
        "location";
}

#places img {
    grid-area: photo;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

#places h2 {
    grid-area: title;
    font-size: 1.5rem;
    word-wrap: break-word;
    margin: 0;
    text-align: center;
    color: var(--primary-darkblue);
}

#places p.desc {
    grid-area: desc;
    margin: 0.7rem;
}

#places p.address {
    grid-area: location;
    font-style: italic;
    margin: 0.7rem;
}

#welcome-message {
    font-size: large;
    background-color: var(--third-light-green);
    max-width: fit-content;
    padding: 10px;
}