h1 {
    text-align: center;
    padding-top: 20px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  
  justify-content: center;
  gap: 25px;
  padding: 10px;
  
  text-align: center;
}

.cards-container section {
    border-style: 1px solid;
    background-color: #9cc9ff;
    border-radius: 0.5rem;
    padding: 1rem;

}


.cards-container img {
  border-radius: 10px;
  margin-bottom: 15px;
}

.cards h2 {
  color: #4c3f91;
  margin: 0 0 8px;
}